[include fluidd_macro.cfg]
#[include sovol-macros.cfg]
#[include Eddy.cfg]
#[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

[include options/lcd/*.cfg]

[respond]
[mcu] #THIS IS THE MAINBOARD     
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD905334E563613732051-if00
restart_method: command     
[include Stealthburner.cfg]
[include NeoPixel.cfg]
[include KAMP_Settings.cfg]
[include KAMP_Line_Purge.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 500            
max_accel: 6000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.7 # Was 0.5 - Prioritize Smooth Movement
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 350         
position_max: 360             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
#interpolate: True             
run_current: 1.4 # Was 1.1            
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 60 #64 #60
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: -2               
position_endstop: 355         
position_max: 360            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
#interpolate: True             
run_current: 1.4 # Was 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 60 #64 #63
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -10              
#position_endstop: 0
homing_speed: 10.0
homing_retract_dist: 5.0
homing_retract_speed: 10.0
second_homing_speed: 5.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.45           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.45          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.45            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.45         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[probe] #ChaoticLab Tap CNC v2
pin: !EBBCan:gpio22 # Actual IO pin you connected to
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 5

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

#[filament_switch_sensor filament_sensor]
#pause_on_runout: True
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: PE9

[thermistor my_thermistor] #Bed Thermistor
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	10,10
	10,330
	330,330
	330,10
speed: 400                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 8                  
max_adjust: 30   

[temperature_fan MCU_fan]
pin: PA1
sensor_type: temperature_mcu  # Use the MCU temperature sensor
target_temp: 55                # The fan will turn on when the temp exceeds 55°C
max_delta: 5.0 
kick_start_time: 0.5
min_temp: 0
max_temp: 95
shutdown_speed: 0
max_speed: 1.0
control: watermark

[gcode_arcs]                       
resolution: 1.0                    

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 0.010

[pause_resume]

[exclude_object]

[input_shaper]
damping_ratio_x: 0.069
damping_ratio_y: 0.044
shaper_type_x = ei
shaper_freq_x = 79.4
shaper_type_y = mzv
shaper_freq_y = 44.6

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[homing_override]
gcode:
  G90
   {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
     G28 X
     G0 X330 F3600
   {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
     G28 Y
     G0 Y330  F3600
   {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
     G28 Y
     G0 Y330  F3600
     G4 P2000
     G28 X
     G0 X330  F3600
   {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
     G0 X177.5 Y177.5 F3600
     G28 Z
     G0  Z10 F600
   {% else %}
     G0 Z5 F300
     G28 Y
     G0 Y330  F3600
     G4 P2000
     G28 X
     G0 X330  F3600
     G90
     G0  X177.5 Y177.5 F3600
     G28 Z
     G0  Z10 F600
   {% endif %}
axes: xyz
set_position_z: 0

[bed_mesh]
speed: 500                   
horizontal_move_z: 5         
mesh_min: 10,10              
mesh_max: 333,330            
probe_count: 9,9             
algorithm: bicubic   
bicubic_tension: 0.4
split_delta_z: 0.016
mesh_pps:3,3
adaptive_margin: 5
#fade_start: 0
#fade_end: 10
#fade_target: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*#
#*# [probe]
#*# z_offset = -0.855
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.167231, -0.283481, -0.260981, -0.290981, -0.262856, -0.334106, -0.251606, -0.247856, -0.165356
#*# 	-0.264731, -0.236606, -0.195356, -0.214106, -0.140981, -0.184106, -0.185981, -0.187856, -0.185981
#*# 	-0.236606, -0.187856, -0.184106, -0.150356, -0.077231, -0.159731, -0.142856, -0.174731, -0.152231
#*# 	-0.266606, -0.212231, -0.155981, -0.159731, -0.095981, -0.154106, -0.159731, -0.195356, -0.199106
#*# 	-0.296606, -0.244106, -0.182231, -0.176606, -0.112856, -0.172856, -0.172856, -0.206606, -0.191606
#*# 	-0.275981, -0.232856, -0.178481, -0.161606, -0.122231, -0.159731, -0.174731, -0.212231, -0.167231
#*# 	-0.281606, -0.277856, -0.215981, -0.268481, -0.204731, -0.285356, -0.257231, -0.266606, -0.200981
#*# 	-0.330356, -0.292856, -0.290981, -0.337856, -0.309731, -0.352856, -0.341606, -0.326606, -0.206606
#*# 	-0.219731, -0.360356, -0.418481, -0.459731, -0.450356, -0.487856, -0.442856, -0.390356, -0.204731
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 10.0
#*# max_x = 332.96
#*# min_y = 10.0
#*# max_y = 330.0
